body {
  margin: 0;
  padding: 0;
  background-color: rgb(75, 76, 77);
}
:root {
  --characters: 24;
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}

.fa {
  /* font-style: unset; */
  /* font-family: unset; */
}

.typewriter {
  width: 0;
  font-family: Times, Times New Roman, serif;
  font-size: 2em;
  overflow: hidden;
  white-space: nowrap;
  color: steelblue;
  text-shadow: 3px 3px 4px skyblue;
  animation-name: blinking, typing;
  animation-duration: 0.5s, 5s;
  animation-timing-function: linear, steps(var(--characters));
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  from {
    border-right: 0 solid transparent;
  }

  to {
    border-right: 1px solid black;
  }
}

@keyframes typing {
  80%,
  100% {
    width: calc(var(--characters) * 1ch);
  }
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#css3-spinner-svg-pulse-wrapper {
  position: absolute;
  overflow: hidden;
  width: 260px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -130px;
  background-color: transparent;
  animation: none;
  -webkit-animation: none;
}

#css3-spinner-svg-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -275px;
}

#css3-spinner-pulse {
  stroke-dasharray: 281;
  -webkit-animation: dash 8s infinite linear forwards;
}

/*Animation*/
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

.share {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 1rem;
}

.share a {
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin: 0.5rem;
  background: #eee;
  color: var(--blue);
}

.share a:hover {
  background: var(--blue);
  text-decoration: none;
  color: #fff;
  transform: rotate(360deg);
}

@media only screen and (max-width: 67.75em) {
  #container1 {
    padding-left: 80rem;
  }
}
